[submodule "tinydir"]
	path = tinydir
	url = https://github.com/cxong/tinydir
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
